SARA_DB_URL=jdbc:mysql://localhost:3306/sara?createDatabaseIfNotExist=true&serverTimezone=UTC
SARA_DB_USERNAME=your_mysql_user
SARA_DB_PASSWORD=your_mysql_password
SARA_JWT_SECRET=replace-with-a-long-base64-secret
SARA_JWT_EXP_MS=3600000
SARA_GOOGLE_CLIENT_IDS=
SARA_GOOGLE_ALLOWED_DOMAIN=colegiomiralmonte.es
SARA_GOOGLE_TOKENINFO_URL=https://oauth2.googleapis.com/tokeninfo
SARA_RECAPTCHA_SECRET_KEY=
SARA_RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
SARA_IMPORT_STORAGE_PATH=./storage/imports-ra
SARA_EXPORT_PYTHON_COMMAND=python
SARA_EXPORT_SCRIPT_PATH=./scripts/export_backend_template.py
SARA_EXPORT_TEMPLATE_PATH=./storage/templates/source_template_unprotected.xlsx
SARA_EXPORT_FILLED_TEMPLATE_PATH=./storage/templates/source_template_rellenada_unprotected.xlsx
SARA_EXPORT_FILLED_TEMPLATE_PATH_2=./storage/templates/source_template_rellenada2_unprotected.xlsx
SARA_EXPORT_USE_IMPORT_SNAPSHOT=true
SARA_EXPORT_TIMEOUT_SECONDS=120
